<%- include header.ejs %>
	<body style="background-color:#B4DCED;">
		<div class="container">
			<div class="page-header">
				<h1 class="text-center text-uppercase">Xchange it!</h1>
			</div>
			<hr>
			<p class="text-center">Exchange rates for 200+ currencies</p>
			<p class="text-center">Up to the minute currency exchange rates</p>
			<p class="text-center">Up to a year of history of a currancy exchange rates</p>
			<p class="text-center">Create an account and have access to your search results history</p>
			<hr>
			<div class="text-center container" style="width:60%;">
				<form method="GET" action="/exchageRate/new" class="form-inline">
					<div class="form-group">
						<label for="userName">User name:</label>
						<input id="userName" type="email" name="userName" class="form-control">
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input id="password" type="password" name="password" class="form-control">
					</div>
					<button type="submit" class="btn btn-info btn-md">LOG IN</button>
				</form>
				Don't have an account? <a href="/signup">SIGN UP</a> 
			</div>
			<div class="text-center">
				<label for="tryIt">Try it:</label>
			</div>
			<div id="tryIt" style="width:50%;" class="text-center container">
				<div class="row">
					<form class="form-horizontal">
						<div class="row form-group">
							<label class="control-label" for="from">Exchange:</label>
							<select id="from" class="form-control">
								<% for(let i = 0; i < currencies.length; i++){ %>
									<% if(currencies[i].currencySymbol){%>
											<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName + ' / ' + currencies[i].currencySymbol%></option>
										<%} else {%>
											<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName %></option>
										<%}%>
								<% } %>
							</select>
						</div>
						<div class="row form-group">
							<label class="control-label" for="to"> To:</label>
							<select id="to" class="form-control">
								<% for(let i = 0; i < currencies.length; i++){ %>
									<% if(currencies[i].currencySymbol){%>
											<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName + ' / ' + currencies[i].currencySymbol%></option>
										<%} else {%>
											<option><%= currencies[i].countryName + ' / ' + currencies[i].currencyName %></option>
										<%}%>
								<% } %>
							</select>
						</div>
					</form>
					
				</div>
				<input type="button" value="Xchange it!" id="xchangeIt" class="btn btn-info btn-md">
			</div>
			<br>
			<div class="text-center container">
				<!-- <label for="result"> Exchange rate:</label>
			    <br> -->
				<div id="result"></div>
				<div id="reverseResult"></div>
			</div>
			<div id="localhost" style="display:none;"><%= heroku%></div>
		</div>
		<script type="text/javascript" src='/scripts/landingPageScript.js' ></script>
	<%- include footer.ejs %>

		